@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="text-center">
    <h1 class="display-4">Welcome To Animal Meet Application</h1>
=======
<div class="text-right">
    <h1 class="display-4">Welcome</h1>
>>>>>>> f2cd530c1193260d1498699fd69fd5237d9c6578
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

