@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Login">Sing In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Register">Sing Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
